[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ss3sim"]
	path = ss3sim
	url = https://github.com/ss3sim/ss3sim
[submodule "r4ss"]
	path = r4ss
	url = https://github.com/r4ss/r4ss
	branch = main
	registered = false
